.App {
  text-align: center;
}

body, html{
  height: 100%
}        


.light-content{
  background: white;
  color: #282c34;
}

.dark-content{
  background: #282c34;
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;
}