.skill-holder>img{
    height: 8vh;
}
.skill-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.proj-card-holder{
    display: flex;
    justify-content: center;
}
.projects{
    display: flex;
    flex-direction: column;
}
.projects>*{
    margin: 2%;
}
.bumper-div{
    margin-bottom: 5vh;
}
.about{
    display: flex;
    justify-content: center;
}
.white-bg{
    background: white;
    border-radius: 10%;
}
#proj1, #proj2, #proj3{
    width: 20rem;
}
.link-holder{
    display: flex;
    flex-direction: column;
}

.show-more-button{
    background: none;
    border: none
}
.icon-holder{
    width: 10vw;
}

.proj-icons{
    display: flex;
    justify-content: space-evenly;
}
.proj-icons>*{
    margin: 2%;
}
.margin-3{
    margin: 3%;
}