.header-bottom{
    display: flex;
    justify-content: flex-end;
    margin-top: 15%;
    flex-direction: column;
}
.light-bg{
    background: white;

}
.dark-bg{
    background: #282c34;

}
header{
    display: flex;
    flex-direction: row;
}

@media (min-width: 750px) {
    .header-bottom{
        margin-top: 5%;
    }
}