.skill-holder>img{
    height: 5vh;
}
.skill-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}
.about-title-holder{
    display: flex;
    align-items: center;
}
.about-title-holder>h1{
    margin-left: 4%;
}
.about-title-holder>.arrow{
    margin-left: 2%;
}
.skills{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-evenly;
    margin-bottom: 5vh;
}
#about{
    display: flex;
    flex-direction: column;
}

.container-home{
    padding-top: 1%;
    border-bottom: 1px solid black;
}
.about{
    display: flex;
    justify-content: center;
}
.white-bg{
    background: white;
}

.link-holder{
    display: flex;
    flex-direction: column;
}


.icon-holder{
    width: 10vw;
}
.bold{
    font-weight: 700;
}
.italics{
    font-style: italic;
}
.margin-3{
    margin: 3%;
}

@media (min-width: 750px){
    .skill-holder>img {
        height: 15vh;
        margin-bottom: 5%;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
    }

}
